.header{
    height: 4em;
    margin-top: 0;
    
    
    
}

.headerlist{
    text-align: center;
    margin-top: 3em;
    
}

.headeritems{
    display: inline;
    
    
    
}

.link{
    text-decoration: none;
    font-size: larger;
    margin: 0 25px;
    color: darkslateblue;
    
}

.link:hover{
    color: lightslategray;
    
}